/* 
	https://flatcolors.net/palette/203-flat-wbuttons#

	default: #D1D5D8
	primary: #3498DB
	success: #1ABC9C
	warning: #F1C40F
	danger:  #E74C3C
*/

:root {
	--color-default: #f1f2f3;
	--color-primary: #c2e0f4;
	--color-success: #b1f4e7;
	--color-warning: #fbedb7;
	--color-danger: #f8c9c4;
	--color-default-darkened: #bdc2c6;
	--color-primary-darkened: #78bae7;
	--color-success-darkened: #55e7cb;
	--color-warning-darkened: #f6d865;
	--color-danger-darkened: #ef8075;
	--color-default-text: #383c41;
	--color-primary-text: #113e5d;
	--color-success-text: #0d5c4d;
	--color-warning-text: #675306;
	--color-danger-text: #63140c;
}

a, a:focus, a:visited, a:active, a:focus-visible, a:focus-within, a:target, button {
	/* Reset styles of "a" and "button" tags */
	background-color: var(--color-default);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 0;
	margin: 4px;
	/* Fix strange margin-right for links */
	margin-right: -4px !important;
	border: none;
	font-size: 0.95rem;
	text-decoration: none;
	color: var(--color-default-text);
	cursor: pointer;
	display: inline-block;
	/* New styles */
	padding: 6px 8px;
	transition: background-color 0s ease-in;
	border-radius: 3px;
	min-width: 90px;
	text-align: center;
	box-sizing: border-box;
}

a:hover, button:hover {
	background-color: var(--color-default-darkened);
	transition: background-color 0.1s ease-in;
}

a.primary, button.primary {
	background-color: var(--color-primary);
	color: var(--color-primary-text);
}

a.primary:hover, button.primary:hover {
	background-color: var(--color-primary-darkened);
}

a.success, button.success {
	background-color: var(--color-success);
	color: var(--color-success-text);
}

a.success:hover, button.success:hover {
	background-color: var(--color-success-darkened);
}

a.warning, button.warning {
	background-color: var(--color-warning);
	color: var(--color-warning-text);
}

a.warning:hover, button.warning:hover {
	background-color: var(--color-warning-darkened);
}

a.danger, button.danger {
	background-color: var(--color-danger);
	color: var(--color-danger-text);
}

a.danger:hover, button.danger:hover {
	background-color: var(--color-danger-darkened);
}