html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100%;
}

body {
	padding: 10px 0;
}

#main-container {
	max-width: 980px;
	margin: 0 auto;
	min-height: 100%;
	min-height: 600px;
}